FRAPPE_IMAGE=frappe/erpnext:v15.58.1
SITE_NAME=frontend.localhost
DB_ROOT_PASSWORD=admin
DB_NAME=frappe
DB_HOST=db
DB_PORT=3306
ADMIN_PASSWORD=admin
INSTALL_APPS=erpnext,lending

MCP_PORT=8080

SERVICE_ID=lending_mcp
APP_TITLE=Lending MCP
PERSONA_ID_HEADER=Persona-Id
FRAPPE_API_URL=http://backend:8000
FRAPPE_SITE_NAME=frontend.localhost
FRAPPE_VERIFY_SSL=0
FRAPPE_API_KEY=
FRAPPE_API_SECRET=
FRAPPE_USERNAME=Administrator
FRAPPE_PASSWORD=admin

CLIENT_ID=quest_studio
CLIENT_SECRET=5919f4c761555bf471490cd860a0367b
PLATFORM_INT_URL=https://twynity-staging.api.4th-ir.com/platform-integration
PLATFORM_KEY_SERVICE_NAME=Frappe
USAGE_REPORT_ENDPOINT="https://twynity-staging.api.4th-ir.com/account/usage_reports"
ACCOUNT_SERVICE_URL=https://twynity-staging.api.4th-ir.com/account
ACCOUNT_SERVICE_JWKS_ENDPOINT="/.well-known/jwks.json"
ACCOUNT_SERVICE_JWKS_CACHE_TTL=600 
LICENSE_KEY=F58F-AD82-ADC6-4471-5C9C-504D-9862-4764 
LICENSE_SERVER_BASE_URL=https://twynity-staging.api.4th-ir.com/license-server
LICENSE_SERVER_JWKS_ENDPOINT=/.well-known/jwks.json
LICENSE_SERVER_ACTIVATION_ENDPOINT=/api/v1/activations
TRACK_USAGE=0